@import "../../lib/materialize-src/sass/materialize";

.myForm{
    width: 80%;
    height: 80%;
    margin : 0 auto;
}

.champ_formulaire{
  @extend .input-field;
}

.champ_formulaire_inline{
  @extend .input-field;
  @extend .inline;
}

.formulaire_input{
  @extend .validate;
}


.formulaire_icone{
  @extend .label-icon
}