@import "../../lib/materialize-src/sass/materialize";
@import "grid";
@import "custom_form";

body{
    background-image:url("../../images/livres.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    color:white;
    
    margin:auto
}

.myForm{
    width: 100%;
    height: 100%;
    padding:10%;
    width: 20em;
    
}

.button{
    @extend .waves-effect;
    @extend .waves-light;
    @extend .btn-large;   
}


#btn_connexion{
    width:100%;
    margin:auto;
    margin-bottom: 0;
    
}

.titre{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}

.icone{
    max-width: 50px;
}

.menu{
    background-color: black;
    width: 100%;

}

input{
    color:wheat;
}

.testdemerde{
    background-color: magenta;
}

.formulaireprofil{

    width: 20em;
    margin: auto;
    background-color: rgb(31, 14, 14);
    bottom: 1%; 
}

nav div {
    float: right;
}

#menu_d{
    background-color: black;
    width: 10em;
    height: 100VH;
    margin:0;
    z-index: 1;
    position:absolute;
}

#menu_d li{
    border-bottom: 1px solid white;
    height:40px;  
}


.table_b{
    background-color: rgb(31, 14, 14);
}

.table_h{
    background-color: lighten(rgb(31, 14, 14),30%);
    border-collapse: separate;
}
.btn_sombre{
    background-color: black;
}

#searchBar{
    position: absolute;
    left: 20vw;
    top: 1px;
    max-width: 50vw;
    max-height: 10px;

    form{
        button{
           background-color: rgba(0,0,0, 0);
           border: none;
           color: white;
       }
   }
}

#menuOrdi{
  display: none;
}

#plus{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(31, 14, 14);
    overflow: hidden;
    border: 1px solid white;
 

    h2{
        margin:0;
        background-color: lighten(rgb(31, 14, 14),30%);
        border-bottom: 1px solid white;
        text-align: center;
    }
}
#plus ul{
    border: 1px solid white;
    background-color: lighten(rgb(31, 14, 14),30%);
    margin-bottom: 0;
}

.centrer{
    text-align: center;
   
}

#D_img{
}
