@import "Mobile";

.navButton{
  @extend .btn-small;
  @extend .waves-effect;
  background-color: whitesmoke;
  color: black;
}

@media screen and (min-width: 768px){
  .titre{
    position: relative;
    text-align: left;
    font-size: 36px;
  }

  .menu{
    background-color: #231105;
  }


  nav{
    min-height: 10vh;
    background: white;


    #menu_déroulant{
      display: none;
    }

    div{
      float: right;

      a{
        height: 100%;

      }
    }


    #menuOrdi{
      display: inline;
      color: white;
      position: absolute;
      left: 10px;
    }

    #searchBar {
      position: absolute;
      left: 70vw;
      top: 1%;
      width: 20vw;

      button{
        margin-top: 10px;
      }
    }
  }

  .icone{
    min-height: 50px;
    max-height: 100px;
    min-height: 75px;
    max-height: 100px;
  }

  #plus{
    margin-top: 0px;
  }

  #buttonrem{
    display: none;
  }

}