{% extends 'Template.html.twig' %}
{% set root = base_url() %}

{% block body %}
    <div class="myRow divAccueil">
        <a class="boutonAccueil col-md-6" href="{{ root }}/dashboard">DashBoard</a>
        <a class="boutonAccueil col-md-6" href="{{ root }}/listeDocs">Documents</a>
        <a class="boutonAccueil col-md-6" href="{{ root }}/retours">Rendre</a>
        <a class="boutonAccueil col-md-6" href="{{ root }}/emprunts">Emprunter</a>
        <a class="boutonAccueil col-md-6" href="{{ root }}/voirUsagers">Utilisateurs</a>
    </div>
{% endblock %}