{% extends "Template.html.twig"%}

{% block body %}
<form action="{{ base_url() }}/ajouterUsager" method="post" class="myForm" id="ajoutUsagerForm">
        <h1>Ajouter un usager</h1>

        <div class="champ_formulaire">
            <label for="nom">Nom :</label><br>
            <input type="text" class="formulaire_input" id="nom" name="nom">
        </div>

        <div class="champ_formulaire">
            <label for="prenom">Prénom :</label><br>
            <input type="text" class="formulaire_input" id="prenom" name="prenom" >
        </div>

        <div class="champ_formulaire">
            <label for="email">Email :</label><br>
            <input type="email" class="formulaire_input" id="email" name="email" >
        </div>

        <div class="champ_formulaire">
            <label for="adresse">Adresse :</label><br>
            <input type="text" class="formulaire_input" id="adresse" name="adresse" >
        </div>

        <div class="champ_formulaire">
            <label for="telephone">Téléphone :</label><br>
            <input type="text" class="formulaire_input" id="telephone" name="telephone" >
        </div>


        <div class="champ_formulaire">
            <label for="m2p">Mot de passe :</label><br>
            <input type="password" class="formulaire_input" id="m2p" name="m2p" >
        </div>

        <input type="submit" class="bouton-vert" value="ajouter" style="float: right;">
    </form>
{% endblock %}