{% extends 'Template.html.twig' %}
{% set root = base_url() %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{%  block body %}

        <h1  class="titreTable">{% block titre %}Liste des documents empruntés{% endblock %}</h1>

    <table class="myTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Type</th>
                <th>Genre</th>
                <th>Auteur</th>
                {% block InfoSuppHead %}
                    <th>Utilisateur</th>
                    <th>Emprunté le</th>
                    <th>à rendre le</th>
                {% endblock %}
                {% block rappelHead %}
                    <th>Rappel</th>
                {% endblock %}
            </tr>
        </thead>
        <tbody>
            {%  for emprunt in emprunts %}

                <tr>
                    <td>{{ emprunt.document_id }}</td>
                    <td>{{  emprunt.titre }}</td>
                    {% if emprunt.type == 0 %}
                        <td>Livre</td>
                    {% endif %}
                    {% if emprunt.type == 1 %}
                        <td>DVD</td>
                    {% endif %}
                    {% if emprunt.type == 2 %}
                        <td>CD</td>
                    {% endif %}
                    <td>{{ emprunt.genre }}</td>
                    <td>{{ emprunt.auteur }}</td>
                    {% block infosSupp %}
                        <td>{{ emprunt.nom }} {{ emprunt.prenom }}</td>
                        <td>{{ emprunt.date_emprunt }}</td>
                        <td>{{ emprunt.date_retour_prevue }}</td>

                    {% endblock %}
                    {% block rappel %}
                        <th><a id="" href="{{ root }}/rappel/{{ emprunt.emprunt_id }}"><span class="fas fa-envelope-square icon-tab" style="color: #ff4f59"></span></a></th>
                    {% endblock %}
                </tr>

            {% endfor %}
        </tbody>
    </table>

    <div class="myRow">
        <div class="col-md-3"></div>
        <a href="{{ root }}/" class="boutonAccueil col-md-6">Accueil</a>
    </div>
{% endblock %}