{% extends 'Template.html.twig' %}
{% set root = base_url() %}

{% block body %}
    <script src="{{ root }}/public/javascripts/Emprunts.js"></script>
    <input type="hidden" value="{{ root }}/recapEmprunts" id="retourHome">
    <h1 class="titrePage">Emprunter un/des document(s)</h1>

    {# Utilisateur qui emprunte #}
    <div class="row">
        <div class="col s1"></div>
        <div class="champ_formulaire col s4">
            <label for="userAChercher" class="label_form">Utilisateur :</label>
            <input placeholder="ID ou Mail de l'utilisateur qui emprunte." id="userAChercher" type="text" class="validate">
        </div>
        <div class="champ_formulaire col s2">
            <button class="bouton-vert" id="chercherUser">Chercher</button>
        </div>
    </div>

    <table class="myTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>E-Mail</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="bodyTableauUtilisateur">

        </tbody>
    </table>
    <br>
    <hr>
    <br>

    {# Livre à emprunter #}
    <div class="row">
        <div class="col s1"></div>
        <div class="champ_formulaire col s4">
            <label for="docAChercher" class="label_form">Document :</label>
            <input placeholder="ID ou Titre de l'oeuvre à emprunter." id="docAChercher" type="text" class="validate">
        </div>
        <div class="champ_formulaire col s2">
            <button class="bouton-vert" id="ajouterEmprunt">Ajouter</button>
        </div>
    </div>


    <table class="myTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Type</th>
            <th>Genre</th>
            <th>Auteur</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="bodyTableauDocs">

        </tbody>
    </table>
    <div class="row">
        <div class="champ_formulaire col s10"></div>
        <div class="champ_formulaire col s2">
            <button class="bouton-vert" id="emprunterDocs">Emprunter</button>
        </div>
    </div>
{% endblock %}