{% extends "Template.html.twig" %}
{% set root = base_url() %}
{% block script %}
    <script src="{{ root }}/public/javascripts/FormDoc.js"></script>
{% endblock %}
{% block body %}

<form action="" method="post" enctype="multipart/form-data" class="myForm">
        <h1> Ajouter un document </h1>

        <div class="champ_formulaire">
            <label for="type"> Type </label><br><br>
            <select required id="type" name="type">
                <option value="" disabled selected>Choisissez quel type de document </option>
                <option value="0">Livre</option>
                <option value="1">DVD</option>
                <option value="2">CD</option>
            </select>
        </div>

        <div class="champ_formulaire">
            <label for="etat"> Etat </label><br><br>
            <select required id="etat" name="etat">
                <option value="" disabled selected>Etat du document </option>
                <option value="0">Disponible</option>
                <option value="1">Emprunté</option>
                <option value="2">Indisponible</option>
            </select>
        </div>

        <div class="champ_formulaire">
            <label for="genre"> Genre </label><br>
            <input type="text" name="genre" id="genre" class="formulaire_input" required>
        </div>

        <div class="champ_formulaire">
            <label for="titre"> Titre </label><br>
            <input type="text" name="titre" id="titre" class="formulaire_input" required>
        </div>

        <div class="champ_formulaire">
            <label for="auteur"> Auteur </label><br>
            <input type="text" name="auteur" id="auteur" class="formulaire_input" required>
        </div>

        <div class="champ_formulaire">
            <label for="description"> Description </label><br>
            <input type="text" name="description" id="description" class="formulaire_input" required>
        </div>

        <div class="champ_formulaire">
            <label for="mc"> Mots-cles </label><br>
            <input type="text" name="mc" id="mc" class="formulaire_input" required>
        </div>

        <div class="champ_formulaire" style="display:none" id="jsduree">
            <label for="duree"> Durée </label><br>
            <input type="number" name="duree" id="duree" class="formulaire_input" >
        </div>

        <div class="champ_formulaire" style="display:none" id="jsacteurs">
            <label for="acteurs"> Acteurs </label><br>
            <input type="text" name="acteurs" id="acteurs" class="formulaire_input" >
        </div>

        <div class="champ_formulaire" style="display:none" id="jsnbPages">
            <label for="nbPages"> Nombre de pages </label><br>
            <input type="number" name="nbPages" id="nbPages" class="formulaire_input" >
        </div>

        <div class="champ_formulaire" style="display:none" id="jsediteur">
            <label for="editeur"> Editeur </label><br>
            <input type="text" name="editeur" id="editeur" class="formulaire_input" >
        </div>

        <div class="champ_formulaire" id="illustration">
            <label for="illustration"> Illustration </label><br>
            <input type="url" name="illustration" id="illustration" class="formulaire_input" >
        </div>

        <input type="submit" class="bouton-vert" value="ajouter" style="float: right;">
    </form>
{% endblock %}
