{% extends "Template.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{%  block body %}
    <h1 class="titreTable">Gérer les demandes d'adhésions</h1>

    <table class="myTable" id="adhesions">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Téléphone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usagers %}
                <tr>
                    <td>{{ user.usager_id }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.mail }}</td>
                    <td>{{ user.adresse }}</td>
                    <td>{{ user.tel }}</td>
                    <td>
                        <a id="accepter-{{ user.usager_id }}" href="{{ base_url() }}/accepterAdhesion/{{ user.usager_id }}"><span class="fas fa-user-check icon-tab" style="color: #64ee57"></span></a>
                        <a id="refuser-{{ user.usager_id }}" href="{{ base_url() }}/refuserAdhesion/{{ user.usager_id }}"><span class="fas fa-times icon-tab" style="color: #ff4f59"></span></a>
                    </td>
                </tr>

            {%  endfor %}
        </tbody>
    </table>
{% endblock %}