{% extends "Template.html.twig" %}

{% block body %}
    <h1 class="titreTable"> Voir les documents de la médiatèque</h1>
    <a href="{{ path_for('createDoc') }}" class="bouton-vert" style="float: right; margin-right: 1%; margin-bottom: 1%;">Ajouter</a>
    <table class="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Etat</th>
                <th>Titre</th>
                <th>Mots-cles</th>
                <th>Genre</th>
                <th>Auteur</th>
                <th>illustration</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for doc in document %}
                <tr>
                    <td>{{ doc.document_id}}</td>
                    <td>
                        {% if doc.type == 0 %}
                            Livre
                        {% elseif doc.type == 1 %}
                            DVD
                        {% elseif doc.type == 2 %}
                            CD
                        {% endif %}  
                    </td>
                    <td>
                        {% if doc.etat == 0 %}
                            Disponible
                        {% elseif doc.etat == 1 %}
                            Emprunté
                        {% elseif doc.etat == 2 %}
                            Indisponible
                        {% endif %}
                    </td>
                    <td>{{ doc.titre }}</td>
                    <td>{{ doc.mots_cles }}</td>
                    <td>{{ doc.genre}}</td>
                    <td>{{ doc.auteur}}</td>
                    <td> <img src="{{doc.illustration}}" style="width:150px; height:150px;" alt="img" width="150" height="150"></td>
                    <td>
                        <a id="modifier-{{ doc.document_id }}" href="{{ path_for('modifDoc', { 'id': doc.document_id }) }}"><span class="far fa-edit icon-tab" style="color: #ffc424"></span></a>
                        <a id="supprimer-{{ doc.document_id }}" data-id="{{ doc.document_id }}" href="{{ path_for('supprimerDoc', { 'id': doc.document_id }) }}"><span class="far fa-trash-alt icon-tab" style="color: #ff4f59"></span></a>
                    </td>

                </tr>
            {% endfor %}
        </tdbody>
    </table>
{% endblock %}