{% extends "Template.html.twig" %}

{% block head %}
    {{ parent() }}
    <script src="{{ base_url() }}/public/javascripts/GestionUtilisateur.js"></script>
{% endblock %}

{%  block body %}
    <h1 class="titreTable">Gérer les utilisateurs</h1>
    <a href="{{ path_for('ajoutUsager') }}" class="bouton-vert" style="float: right; margin-right: 1%; margin-bottom: 1%;">Ajouter</a>
    <a href="{{ path_for('gererDemandesAdhesion') }}" class="bouton-jaune" style="float: right; margin-right: 1%; margin-bottom: 1%;">Gérer les demandes d'adhésion </a>
    <table class="myTable" id="usagers">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Téléphone</th>
                <th>Date d'adhésion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usagers %}
                <tr>
                    <td>{{ user.usager_id }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.mail }}</td>
                    <td>{{ user.adresse }}</td>
                    <td>{{ user.tel }}</td>
                    {% set date_fr = user.date_adhesion|split("-") %}
                    <td>{{ date_fr[2] }}/{{ date_fr[1] }}/{{ date_fr[0] }}</td>
                    <td>
                        <a id="modifier-{{ user.usager_id }}" href="{{ base_url() }}/modifierUsager/{{ user.usager_id }}"><span class="far fa-edit icon-tab" style="color: #ffc424"></span></a>
                        <a id="supprimer-{{ user.usager_id }}" class="supButton" data-id="{{ user.usager_id }}" href="{{ path_for('supprimerUser', { 'id': user.usager_id }) }}"><span class="far fa-trash-alt icon-tab" style="color: #ff4f59"></span></a>
                    </td>
                </tr>

            {%  endfor %}
        </tbody>
    </table>
{% endblock %}