{% extends "Template.html.twig"%}

{% block body %}
<form action="{{ base_url() }}/modifierUsager" method="post" class="myForm" id="modifUsagerForm">
        <h1>Modifier un usager</h1><br>

        <input type="text" id="id" name="id" hidden value="{{ usager.usager_id }}">

        <div class="champ_formulaire">
            <label for="nom">Nom :</label><br>
            <input type="text" class="formulaire_input" id="nom" name="nom" value="{{ usager.nom }}">
        </div>

        <div class="champ_formulaire">
            <label for="prenom">Prénom :</label><br>
            <input type="text" class="formulaire_input" id="prenom" name="prenom" value="{{ usager.prenom }}" >
        </div>

        <div class="champ_formulaire">
            <label for="email">Email :</label><br>
            <input type="email" class="formulaire_input" id="email" name="email" value="{{ usager.mail }}">
        </div>

        <div class="champ_formulaire">
            <label for="adresse">Adresse :</label><br>
            <input type="text" class="formulaire_input" id="adresse" name="adresse" value="{{ usager.adresse }}">
        </div>

        <div class="champ_formulaire">
            <label for="telephone">Téléphone :</label><br>
            <input type="text" class="formulaire_input" id="telephone" name="telephone" value="{{ usager.tel }}" >
        </div>

        <a id="reinitMdp" class="bouton-jaune" href="{{ base_url() }}/reinitMdp/{{ usager.usager_id }}">Réinitialiser le mot de passe</a>

        <input type="submit" class="bouton-vert" value="Modifier" style="float: right;">
    </form>
{% endblock %}