{% extends 'Dashboard.html.twig' %}
{% set root = base_url() %}

{% block titre %}
    Liste des documents empruntés par {{ emprunts[0].nom }} {{ emprunts[0].prenom }}
{% endblock %}
{% block rappelHead %}{% endblock %}
{% block rappel %}{% endblock %}