{% extends 'Dashboard.html.twig' %}
{% set root = base_url() %}

{% block titre %}
Liste des documents venant d'être rendus
{% endblock %}
{% block infosSupp %}{% endblock %}
{% block InfoSuppHead %}{% endblock %}
{% block rappelHead %}{% endblock %}{% block rappel %}{% endblock %}