{% extends 'Template.html.twig' %}
{% set root = base_url() %}

{% block body %}
    <script src="{{ root }}/public/javascripts/Rendre.js"></script>
    <input type="hidden" value="{{ path_for('dashBoard') }}/recapRendus" id="retourHome">
    <h1 class="titrePage">Retourner un/des document(s)</h1>


    <div class="row">
        <div class="col s1"></div>
        <div class="champ_formulaire col s4">
            <label for="docAChercher" class="label_form">Document :</label>
            <input placeholder="ID ou Titre de l'oeuvre rendue." id="docAChercher" type="text" class="validate">
        </div>
        <div class="champ_formulaire col s2">
            <button class="bouton-vert" id="ajouterRendre">Ajouter</button>
        </div>
    </div>

    <table class="myTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Type</th>
                <th>Genre</th>
                <th>Auteur</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="bodyTableau">

        </tbody>
    </table>
    <div class="row">
        <div class="champ_formulaire col s10"></div>
        <div class="champ_formulaire col s2">
            <form action="{{ root }}/rendreDocuments" method="post">
                <input type="hidden" value="" id="docsARendre" name="docsARendre">
                <button class="bouton-vert" id="rendreDocs" type="submit">Rendre</button>
            </form>
        </div>
    </div>
{% endblock %}