{% set root = base_url() %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{{ root }}/public/lib/jquery/jquery-3.4.1.min.js"></script>
    <script src="{{ root }}/public/lib/materialize-src/js/bin/materialize.js"></script>
    <script src="{{ root }}/public/lib/notify/notify.min.js"></script>
    <script src="https://kit.fontawesome.com/c687d045b1.js"></script>
    <script src="{{ root }}/public/lib/notify/notify.min.js"></script>

    {% block script %}{% endblock %}
    <link rel="stylesheet" href="{{ root }}/public/style/css/Ordi.css">


    <title>Document</title>

    {% block head %}{% endblock %}
</head>
<body>
    {% block sidebar %}
        <ul class="navbar-admin">
            <div class="titre-navbar-admin">
                <a href="{{ root }}/">Medianet-Staff</a>
            </div>
            <li><div class="divider"></div></li>
            <li class="item-navbar-admin"><a href="{{ root }}/dashboard">DashBoard</a></li>
            <li><div class="divider"></div></li>
            <li class="item-navbar-admin"><a href="{{ root }}/listeDocs">Documents</a></li>
            <li><div class="divider"></div></li>
            <li class="item-navbar-admin"><a href="{{ root }}/retours">Rendre</a></li>
            <li><div class="divider"></div></li>
            <li class="item-navbar-admin"><a href="{{ root }}/emprunts">Emprunter</a></li>
            <li><div class="divider"></div></li>
            <li class="item-navbar-admin"><a href="{{ root }}/voirUsagers">Utilisateurs</a></li>
            <li><div class="divider"></div></li>

        </ul>
    {% endblock %}

    <div class="bodyDiv">
        {% block body %}

        {% endblock %}
    </div>


</body>
</html>