{% extends "Base.html.twig" %}
{% block body %}
    {{ parent() }}
    <nav class="menu">     
    </nav>
    <h1 class="titre">Bienvenue sur <br> MédiaNet</h1>
    <br><br><br>
    <p class="center">Non inscrit ? <a href="{{ base_url() }}/inscription">S'inscrire</a></p>

    <div class="formulaireprofil" >
        <input type="button" class="button" value="Connexion" id="btn_connexion">
    <form id="formco" class="myForm center-align" method="post" action="{{ base_url() }}/connecte">
        Mail:<br>
        <input type="email" id="idconnexion" name="idconnexion">
        <br>
        Mot de passe:<br>
        <input type="password" id="mdp" name="mdp">
        <br><br>
        <input type="submit" value="Se connecter" class="button" id="btn_connecter">
        
    </form>
    </div>
    
    <script src="{{ base_url() }}/public/javascripts/Connexion.js"></script>
{% endblock %}
