<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>MediaNet - Usager</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ base_url() }}/public/lib/jquery/jquery-3.4.1.min.js"></script>
  <script src="{{ base_url() }}/public/lib/materialize-src/js/bin/materialize.js"></script>
  <script src="{{ base_url() }}/public/lib/notify/notify.min.js"></script>
  <script src="https://kit.fontawesome.com/c687d045b1.js"></script>
  <script src="{{ base_url() }}/public/javascripts/MenuDeroulant.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/style/css/Ordi.css">
  {% block head %}{% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}

</body>
</html>