{% extends "Base.html.twig" %}
{% block body %}
    {{ parent() }}
   
      <nav class="menu">     
    </nav>
    
<div>
    <h1 class="titre">Inscription</h1>
    <div class="formulaireprofil" >

            <form id="formco" class="myForm center-align" method="post" action="{{ path_for('inscription') }}">
            Votre nom :<input type="text" name="nom" value="" required>
            Votre prénom :<input type="text" name="prenom" value="" required>
            Votre adresse mail :<input type="email" name="email" value="" required>
            Votre numéro de téléphone :<input type="text" name="telephone" value="" required>
            Votre adresse :<input type="text" name="adresse" value="" required>
            Mot de passe :<input type="password" name="m2p" value="" required>
            Confirmez votre mot de passe : <input type="password" name="m2pconf" value="" required>
            <input type="submit" value="S'inscrire" class="button" id="btn_connecter">

        </form>
    </div>
<div>
{% endblock %}

