
{% block navbar %}

<nav class="menu">
    <i class="fas fa-ellipsis-v" id="menu_déroulant"></i>
    <div id="menuOrdi">
        <ul id="menuOrdiUl">
            <li><a href="{{ path_for('documentsEmpruntes') }}"><span class="fa fa-home"></span></a></li>
            <li><a href="{{ path_for('cds') }}"><span class="fa fa-compact-disc"></span></a></li>
            <li><a href="{{ path_for('dvds') }}"><span class="fa fa-video"></span></a></li>
            <li><a href="{{ path_for('livres') }}"><span class="fa fa-book"></span></a></li>
            <li><a href="{{ path_for('documents') }}" class="navButton">Tout</a></li>
            <li><a href="{{ path_for('documentsEmpruntes') }}" class="navButton">Empruntés</a></li>
        </ul>
    </div>


    <div id="searchBar">
        <form action="{{ base_url() }}/recherche" class="row" method="post">
            <input type="search" class="input-field col-xs-10 col-md-10" placeholder="Rechercher" id="search" name="search" required>
            <button class="col-xs-2 col-md-2" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>


    <div>
        <a href="{{ path_for('profil') }}"><i class="fas fa-user"></i></a>
        <a href="{{ path_for('index') }}"><i class="fas fa-sign-out-alt"></i></a>
    </div>



    </nav>
    <ul id="menu_d">
        <li id="documents">Documents</li>
        <li id="emprunts">Mes emprunts</li>
        <li id="livres">Voir les livres</li>
        <li id="cds">Voir les CD</li>
        <li id="dvds">Voir les DVD</li>
    </ul>
{% endblock %}