{% extends "Base.html.twig" %}
{% block body %}
    {{ parent() }}
    {% set date_fr = Usager.date_adhesion|split('-') %}
    
     {% include "Navbar.html.twig" %}
<div>
    <h1 class="titre">Votre <br> profil</h1>
    <div class="formulaireprofil" >
            <form id="formco" class="myForm center-align" method="post" action="{{ path_for('profil') }}">
            Votre nom :<input type="text" name="nom" value="{{ Usager.nom }}" required>
            Votre prénom :<input type="text" name="prenom" value="{{ Usager.prenom }}" required>
            Votre adresse mail :<input type="text" name="email" value="{{ Usager.mail }}" required>
            Votre numéro de téléphone :<input type="text" name="telephone" value="{{ Usager.tel }}" required>
            Votre adresse :<input type="text" name="adresse" value="{{ Usager.adresse }}" required>
            Modifier votre mot de passe :<input type="password" name="m2p" value="">
            <p>Vous vous êtes inscrit le {{ date_fr[2] }}/{{ date_fr[1] }}/{{ date_fr[0] }}</p>
            <input type="submit" value="Modifier mon profil" class="button" id="btn_connecter">

        </form>
    </div>
<div>
{% endblock %}