{% extends "Base.html.twig" %}

{% block body %}
    {#navbar de Yann#}
    {% include "Navbar.html.twig" %}

    <h1 class="titre">Résultats de la recherche pour {{ recherche }}</h1>

    <div class="row">

        <div class="col-xs-12 col-md-8">
            <table class="myTable" id="recherche">
                <thead class="table_h">
                <tr>
                    <th>Type:</th>
                    <th>Titre:</th>
                    <th>Genre:</th>
                    <th>Etat:</th>
                    <th>Plus</th>
                </tr>
                </thead>
                <tbody class="table_b">


                {% for document in documents %}
                    <tr>
                        {% if document.type == 0 %}
                            <td><i class="fas fa-book"></i></td>
                        {% elseif document.type == 1 %}
                            <td><i class="fas fa-video"></i></td>
                        {% else %}
                            <td><i class="fas fa-compact-disc"></i></td>
                        {% endif %}
                        <td>{{ document.titre }}</td>
                        <td>{{ document.genre }}</td>
                        {% if (document.etat == 0) %}
                            <td>Disponible</td>
                        {% elseif (document.etat == 1) %}
                            <td>Emprunté</td>
                        {% else %}
                            <td>Indisponible</td>
                        {% endif %}
                <td><input class="btn_sombre" 
                type="button" 
                value="ℹ" 
                
                data-idd="{{ document.document_id }}"
                data-titre="{{ document.titre }}"
                data-descr="{{ document.description }}"
                data-etat="{{ document.etat }}"
                data-genre="{{ document.genre }}"
                data-type="{{ document.type }}"
                data-img="{{ document.illustration }}"
                data-mot="{{ document.mots_cles }}"
                
                data-duree="{{ document.duree }}"
                data-acteurs="{{ document.acteurs }}"
                data-nbpages="{{ document.nbPages }}"
                data-editeur="{{ document.editeur }}"


                onclick="descendre()"
                
                ></td>                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>


    <div class="col-xs-12 col-md-4">

        <!-- Informations détaillées -->
        <div id="plus">
            <h2 id="D_titre"></h2>
            <div class="centrer">
            <img id="D_img" src=""></img>
            </div>
            <ul>
        

                <li id="D_descr"><li>
                <li id="D_etat"><li>
                <li id="D_genre"><li>
                <li id="D_mot"><li>
                <li id="D_id"><li>

                <li id="D_duree"></li>
                <li id="D_acteurs"></li>
                <li id="D_nbPages"></li>
                <li id="D_editeur"></li>


                <div class="centrer">
                    <input type="button" id="buttonrem" value="Remonter" class="button" onclick="remonter()"></td>
                </div>

            </ul>
            <div>
        </div>


    </div>
    <script src="{{ base_url() }}/public/javascripts/Plus.js"></script>
    


{% endblock %}