@import "../../lib/materialize-src/sass/materialize";

.myForm{
    width: 80%;
    height: 80%;
    margin : 0 auto;
}

.champ_formulaire{
  @extend .input-field;
}

.formulaire_input{
  @extend .validate;
}

