$nbColumnsDefault : 12 !default; // Nb colonnes d'une grille
$nbLinesDefault : auto-fit !default; // Nb ligne d'une grille
$bgDefault : white !default; // Background d'un element de la grille
$colorDefault : black !default; // Couleur d'un element de la grille

/* COULEUR PAR DEFAUT */
$info: #D1ECF1 !default;
$success: #D4EDDA !default;
$danger: #F8D7DA !default;
$warning: #FFF3CD !default;
$primary : #D1ECF1 !default; // Couleur primaire (bleu)


@mixin grid($nbColumns : $nbColumnsDefault){
  display: grid;
  grid-template-columns: repeat($nbColumns, 1fr);
  grid-template-rows: auto;
}


@mixin element(){
  grid-gap: 1vw;
  margin : 1vh;
  box-sizing: border-box;
}

@mixin elementCouleurs($background : $bgDefault, $color : $colorDefault){
  background: $background;
  color : $color;
}

@mixin elementSizeDepart($nbColumnDepart : 1, $columnSize : 1){
  grid-column: $nbColumnDepart / span $columnSize;
  grid-row: auto;
}

@mixin elementSize($nbColumns : 1){
  grid-row: auto;
  grid-column-end: span $nbColumns;
}

@mixin createGrid($nbColumns : $nbColumnsDefault){
  @include grid($nbColumns);
}

/* GESTION GRID */
@each $nb in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12) {
  .col-md-#{$nb} {
    @include element();
    @include elementSize($nb);
  }
  .col-xs-#{$nb} {
    @media screen and (max-width: 800px) {
      @include element();
      @include elementSize($nb);
    }
  }
}

.element-primary {
  @include elementCouleurs($primary);
}

.element-warning {
  @include elementCouleurs($warning);
}

.element-danger {
  @include elementCouleurs($danger);
}

.element-success {
  @include elementCouleurs($success);
}

.myRow{
  @include createGrid($nbColumnsDefault);
}
