@import "../../lib/materialize-src/sass/materialize";
@import "custom_form";
@import "grid";

$orange: #dd8543;

.bouton-vert{
  @extend .waves-effect;
  @extend .waves-light;
  @extend .btn-large;
}

.divAccueil {
  padding-top: 40vh;
}

.boutonAccueil{
  $button-floating-large-size:20%;
  @extend .waves-effect;
  @extend .waves-light;
  @extend .btn-large;
}

.bouton-jaune{
  @extend .waves-effect;
  @extend .waves-light;
  @extend .btn-large;
  background-color: $orange;

  &:hover{
    background-color: darken($orange, 15%);
  }
}

body {
  width: 100vw;
  height: 100vh;
  margin:0;
  padding: 0;
  display: flex;
}

html {
  padding: 0;
  margin: 0;
}

.titreTable {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 5%;
}

.titrePage {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 5%;
}

.myTable {
  @extend .responsive-table;
  @extend .striped;
}

.navbar-admin {
  margin:0;
  padding: 0;
  width: 20%;
  background-color: rgb(28, 28, 28);
  height: 100%;

  li {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  a {
    color: #9F9F9F;
    height: 100%;
    width: 100%;
    display: block;
  }
}

.titre-navbar-admin {
  color: white;
  font-size: 4rem;

  a {
    color:white;
  }
}

.item-navbar-admin {
  font-size: 2rem;
  box-sizing: border-box;

}

.bodyDiv {
  width: 80%;
  margin:0;
  padding: 0;
  height: 100%;
}

img {
  width: 100%;
  margin:0;
  padding: 0;
  height: 100vh;
}

.label_form.active{
  font-size: 1.5rem;
  margin-bottom: 1%;
}

.small-icon{
  @extend .small;
  @extend .material-icons;
}

.icon-tab{
  font-size: 1.5rem;
  margin-right: 10px;
}

a{
  &:hover{
    cursor: pointer;
  }
}

@media screen and (max-width: 1024px){
  .titre-navbar-admin {
    font-size: 3rem;
  }
  .item-navbar-admin {
    font-size: 2rem;
  }
  .titrePage{
    font-size: 3rem;
  }
}